/* .container{
    max-width: 90%;
    margin: auto;
    text-align: center;
    background-color: rgb(227, 227, 227);
}
.images{
    max-width: 100%;
    height: auto;
}

.main-table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    width: 90%;
  }
  
  .main-table th {
    background-color: #555;
    color: white;
    text-align: left;
    padding: 12px;
  }
  
  .main-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
  }
  
  .main-table tr:hover {background-color: #f5f5f5;}
  
  .images {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr;
    align-items: center;
  }
   */






   /* dsadas */



   /* .artists_picture{
  border-radius: 50%;
  display: inline-block;
}

.artists_container {
  width: 100%;
  height: 150px;
  background-color: #ff0000;
  
  overflow: visible;
  white-space:nowrap;
}

.artists_container .artists_picture {
  display: inline-block;
}


.artists_container div {
  position: relative;
  margin: 10px 0;
}
.artists_container div:first-child {
  margin: 0;
} */

/* 
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artists_container {
  width: 500px;
  height: 100vw;
  transform: rotate(-90deg) translateY(-500px);
  transform-origin: top right;
  overflow-x: hidden;
  overflow-y: auto;
}
.artists_container div {
  position: relative;
  width: 100%;
  height: 500px;
  transform: rotate(90deg);
  margin: 10px 0;
}
.artists_container div:first-child {
  margin: 0;
}
p {
  padding: 10px;
  background: white;
}

::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */







/* UJSADJHKAGDSAJKGHDSAHJGDSAJ */


/* 
input[type="radio"] {
  display: none;
}
.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}
.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}
.play-icon {
  margin-right: 10px;
}
.song-info {
  width: calc(100% - 32px);
  display: block;
}
.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}
.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}
.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}
.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}
.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}
.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.4s ease-in;
}
#item-2:checked ~ .player #test {
  transform: translateY(0);
}
#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}
#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
#item-4:checked ~ .player #test {
  transform: translateY(-120px);
}
#item-5:checked ~ .player #test {
  transform: translateY(-160px);
}
#item-6:checked ~ .player #test {
  transform: translateY(-200px);
}
#item-7:checked ~ .player #test {
  transform: translateY(-240px);
}
#item-8:checked ~ .player #test {
  transform: translateY(-280px);
}
#item-9:checked ~ .player #test {
  transform: translateY(-320px);
}
#item-10:checked ~ .player #test {
  transform: translateY(-360px);
} */





 /* input[type=radio] {
	 display: none;
}
 .card {
	 position: absolute;
	 width: 60%;
	 height: 100%; 
	 left: 0;
	 right: 0;
	 margin: auto;
	 transition: transform 0.4s ease;
	 cursor: pointer;
}
 .containerr {
	 width: 100%;
	 max-width: 800px;
	 max-height: 600px;
	 height: 100%;
	 transform-style: preserve-3d;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
	 align-items: center;
}
 .cards {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 margin-bottom: 20px;
}
 img {
	 width: 100%;
	 height: 100%;
	 border-radius: 10px;
	 object-fit: cover;
}
#item-1:checked ~ .cards #song-10,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4,
#item-6:checked ~ .cards #song-5,
#item-7:checked ~ .cards #song-6,
#item-8:checked ~ .cards #song-7,
#item-9:checked ~ .cards #song-8,
#item-10:checked ~ .cards #song-9 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-6,
#item-6:checked ~ .cards #song-7,
#item-7:checked ~ .cards #song-8,
#item-8:checked ~ .cards #song-9,
#item-9:checked ~ .cards #song-10,
#item-10:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-6,
#item-5:checked ~ .cards #song-8,
#item-6:checked ~ .cards #song-9,
#item-7:checked ~ .cards #song-4,
#item-8:checked ~ .cards #song-5,
#item-9:checked ~ .cards #song-7,
#item-10:checked ~ .cards #song-10 {
    transform: translateX(100px) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img,
#item-4:checked ~ .cards #song-4 img,
#item-5:checked ~ .cards #song-5 img,
#item-6:checked ~ .cards #song-6 img,
#item-7:checked ~ .cards #song-7 img,
#item-8:checked ~ .cards #song-8 img,
#item-9:checked ~ .cards #song-9 img,
#item-10:checked ~ .cards #song-10 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

 .player {
	 background-color: #fff;
	 border-radius: 8px;
	 min-width: 320px;
	 padding: 16px 10px;
}
 .upper-part {
	 position: relative;
	 display: flex;
	 align-items: center;
	 margin-bottom: 12px;
	 height: 36px;
	 overflow: hidden;
}
 .song-info {
	 width: calc(100% - 342px);
	 display: block;
}
 .song-info .title {
	 color: #403d40;
	 font-size: 14px;
	 line-height: 24px;
}
 .info-area {
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 30px;
	 transition: transform 0.4s ease-in;
}
#item-2:checked ~ .player #test {
  transform: translateY(0);
}
#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}
#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
#item-4:checked ~ .player #test {
  transform: translateY(-120px);
}
#item-5:checked ~ .player #test {
  transform: translateY(-160px);
}
#item-6:checked ~ .player #test {
  transform: translateY(-200px);
}
#item-7:checked ~ .player #test {
  transform: translateY(-240px);
}
#item-8:checked ~ .player #test {
  transform: translateY(-280px);
}
#item-9:checked ~ .player #test {
  transform: translateY(-320px);
}
#item-10:checked ~ .player #test {
  transform: translateY(-360px);
}  */
 


body {
  margin: 0;
  padding: 0;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}


body {
  margin: 0;
  position: relative;
  font-family: 'Gill Sans', sans-serif;
}
.carousel-container {
  margin: 50px auto;
  overflow-x: auto;
  display: flex;
  width: 100%;
  gap: 100px;
  align-items: center;
  scroll-snap-type: x mandatory;
  position: relative;
  padding-top: 40px;
  transition: transform 0.3s ease-in-out;
}

.carousel-container::-webkit-scrollbar {
  height: 14px;
}

.carousel-container::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #29AB87;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
  background: #b1b3b399;
}

.carousel-container--description{
  text-align: center;
  display: block;
}
.carousel-item img{
  border-radius: 50%;
}
.carousel-item{
  margin-bottom: 30px;
}
.heading-carousel{
  top: 0px;
  z-index: 999;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
}
.segment {
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  align-items: center;
  scroll-snap-type: x mandatory;
  position: relative;
}
.carousel-arrow {
  position: absolute;
  background-color: transparent; /* Remove default button background */
  border: none; /* Remove default button border */
  cursor: pointer; /* Indicate clickable behavior */
  font-size: 50px; /* Adjust arrow size */
  color: #29AB87; /* Arrow color (adjust as needed) */
  z-index: 999
}

.carousel-arrow.left {
  right: 70px; /* Position left arrow */
  top: 0;
}

.carousel-arrow.right {
  right: 10px; /* Position right arrow */
  top: 0;
}
